<div class="index-header">
	<h1>New York Pup Pals</h1>
	<h2>Ever wondered what those New York City dogs are thinking when you see them roaming the streets?</h2>
</div>
<div class="nypp-banner">
<%= image_tag("nypp-banner.jpg") %>
<h2>Check out some Pup Pal interviews below!</h2>
</div>
<div class="row" id="index-images">
	<div class="col-6">
		<%= image_tag("nypp-index2.jpg") %>
	</div>
	<div class="col-6">
		<%= image_tag("nypp-index3.jpg") %>
	</div>
	<div class="col-6">
		<%= image_tag("nypp-index4.jpg") %>
	</div>
	<div class="col-6">
		<%= image_tag("nypp-index5.jpg") %>
	</div>
	<div class="col-6">
		<%= image_tag("nypp-index3.jpg") %>
	</div>
	<div class="col-6">
		<%= image_tag("nypp-index4.jpg") %>
	</div>
	<div class="col-6">
		<%= image_tag("nypp-index5.jpg") %>
	</div>
	<div class="col-6">
		<%= image_tag("nypp-index5.jpg") %>
	</div>
</div>
