<p id="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="row" id="photo-show-page">
	<div class="col-6" id="left-side">
		<h1>| <%= @photo.name %> |</h1>
		<%= image_tag(@photo.image_url) %>
		<p><%= @photo.description %> - <%= @photo.name %></p>
		<p><%= link_to 'Back', photos_path %>
			<% if signed_in? && current_user.admin? %>
				<%= link_to 'Edit', edit_photo_path(@photo) %> 
			<% end %>
		</p>
	</div>
	<div class="col-6" id="comment-section">
		<h3><%= @photo.name %>'s Average Rating: <div class="rated" data-score="<%= @photo.average_rating %>"></div> </h3>
		<br>
		<h1>Show <%= @photo.name %> love with a Comment</h1>
		<%= render "photos/new_comment" %>
		<%= render "photos/comments" %>
	</div>
</div>

