<!DOCTYPE html>
<html>
  <head>
    <title>Nypp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,700|Carter+One|Clicker+Script|Lustria|Oranienbaum|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  	<div class="page-body">
  		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<div class="index-header">
			<%= image_tag("logo.jpg") %>
		</div>
	  	<nav id="fixed-nav">
	  		<ul>
	  			<li><%= link_to "Home", static_pages_index_path %>&#128062;</li>
	  			<li><%= link_to "About", static_pages_about_path %>&#128062;</li>
	  			<li><%= link_to "Interviews", photos_path %>&#128062;</li>
	  			<li>
	  				<% if user_signed_in? %>
	  					<%= link_to('logout', destroy_user_session_path, :method => :delete) %>&#128062;
	  				<% else %>
	  					<%= link_to('Login', new_user_session_path) %>&#128062;
	  				<% end %>
	  			</li>
	  		</ul>
	  	</nav>

	    <%= yield %>
	    
	    <footer>
	    	&copy;2017 New York Pup Pals&#128062;
	    </footer>
	  </div>
  </body>
</html>
 